*{padding:0; margin:0}
#wrapper{border: solid;padding:2px; }
#header{border:solid;height:100px;background-color: #0000A0;padding:2px;}
#logo{text-align: center;border:solid;height:90%;width: 18%;float:left;background-color:#FFA500}
#home{background-color:#0000A0;height:60%;border:solid;width: 12%;float: left;margin-top:16px;margin-left: 6%;}
#container{margin-top: 3px;}
#rightsection{border:solid;width:74%;height:1500px;background-color: #32CD32;float: right;}
#leftsection{border:solid;width:25%;height:1500px;background-color:#FFA500;}
#footer{border:solid;margin-top:3px;height:80px;background-color: #ADD8E6;}

